{
  "type": "object",
  "properties": {
    "name": {
      "title": "Workflow Name",
      "type": "string",
      "uihints": {
        "ui:readonly": true
      }
    },
    "runtime": {
      "title": "Workflow Runtime",
      "type": "string",
      "uihints": {
        "ui:readonly": true
      }
    },
    "description": {
      "title": "Workflow Description",
      "type": "string",
      "uihints": {
        "ui:placeholder": "Workflow Description"
      }
    },
    "input_parameters": {
      "title": "Workflow Input parameters",
      "type": "array",
      "items":{
        "type": "object",
        "properties": {
          "name":{
            "type": "string",
            "title": "Parameters Name"
          },
          "value":{
            "type": "string",
            "title": "Default Value"
          },
          "type":{
            "type": "string",
            "title": "Value Type",
            "enum": ["String", "Integer", "Float", "Bool"],
            "default": "String"
          },
          "description": {
            "type": "string",
            "title": "Description"
          }
        }
      }
    }
  }
}
