{
  "type": "object",
  "properties": {
    "name": {
      "title": "Workflow Name",
      "type": "string",
      "uihints": {
        "ui:readonly": true
      }
    },
    "runtime": {
      "title": "Workflow Runtime",
      "type": "string",
      "uihints": {
        "ui:readonly": true
      }
    },
    "description": {
      "title": "Workflow Description",
      "type": "string",
      "uihints": {
        "ui:placeholder": "Workflow Description"
      }
    },
    "input_parameters": {
      "title": "Workflow Input parameters",
      "type": "array",
      "items":{
        "type": "object",
        "properties": {
          "name":{
            "type": "string",
            "title": "Parameter Name",
            "pattern": "^[a-z0-9][a-z0-9-.]*[a-z0-9]$"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "type":{
            "title": "Type",
            "description": "The type of this parameter.",
            "oneOf": [
              {
                "label": "String",
                "properties": {
                  "value": {
                    "type": "string",
                    "title": "Default Value",
                    "default": ""
                  },
                  "widget": {
                    "type": "string",
                    "default": "String"
                  }
                },
                "uihints":{
                  "widget": {"ui:field": "hidden"}
                }
              },
              {
                "label": "S3 Path",
                "properties": {
                  "value": {
                    "type": "string",
                    "title": "Default Value"
                  },
                  "widget": {
                    "type": "string",
                    "default": "S3 Path"
                  }
                },
                "uihints":{
                  "widget": {"ui:field": "hidden"},
                  "value": {"ui:placeholder": "s3://path_to_bucket"}
                }
              },
              {
                "label": "Integer",
                "properties": {
                  "value": {
                    "type": "number",
                    "title": "Default Value"
                  },
                  "widget": {
                    "type": "string",
                    "default": "Integer"
                  }
                },
                "uihints":{
                  "widget": {"ui:field": "hidden"}
                }
              },
              {
                "label": "Float",
                "properties": {
                  "value": {
                    "type": "number",
                    "title": "Default Value"
                  },
                  "widget": {
                    "type": "string",
                    "default": "Float"
                  }
                },
                "uihints":{
                  "widget": {"ui:field": "hidden"}
                }
              },
              {
                "label": "Bool",
                "properties": {
                  "value": {
                    "type": "string",
                    "title": "Default Value",
                    "enum": [true, false],
                    "default": false
                  },
                  "widget": {
                    "type": "string",
                    "default": "Bool"
                  }
                },
                "uihints":{
                  "widget": {"ui:field": "hidden"},
                  "value": {"ui:hideError": true}
                }
              }
            ]
          }
        },
        "required": ["name", "type"]
      }
    }
  }
}
