{
	"type": "object",
	"properties": {
		"label": {
			"title": "Name",
			"description": "A custom name for the node.",
			"type": "string",
			"pattern": "^[0-9]*$"
		},
		"component_parameters": {
			"type": "object",
			"properties": {
				{% if  component.name == "Dataset Event" %}
				"dataset_name": {
					"type": "array",
					"title": "Dataset Names",
					"description": "Dataset name.",
					"items": {
						"type": "object",
						"oneOf":[
							{
								"label": "Enter a value manually",
								"properties": {
									"value": {
										"type": "string",
										"default": ""
									},
									"widget": {
										"type": "string",
										"default": "string"
									}
								},
								"uihints":{
									"widget": {"ui:field": "hidden"}
								}
							},
							{
								"label": "Select one of the workflow input parameters",
								"properties": {
									"value": {
										"type": "string",
										"enum": [""],
										"default": ""
									},
									"widget": {
										"type": "string",
										"default": "enum"
									}
								},
								"uihints":{
									"widget": {"ui:field": "hidden"}
								}
							}
						]
					}
				},
				"event_filter": {
					"type": "array",
					"title": "Dataset Event Filters",
					"description": "Dataset event filters.",
					"items": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string",
								"title": "Id"
							},
							"name": {
								"type": "string",
								"title": "Property Name",
								"enum": ["operate", "samples"]
							}
						},
						"allOf": [
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "operate"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["=="]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"enum": ["create", "delete"],
															"default": "create"
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							},
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "samples"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": [">", ">=", "==", "%" ]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "integer",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							}
						],
						"required": ["name", "operate", "value"]
					},
					"uihints":{
						"items": {
							"id": { "ui:readonly": "true" }
						}
					}
				},
				{% endif %}
			    {% if  component.name == "Model Event" %}
				"event_filter": {
					"type": "array",
					"title": "Model Event Filters",
					"description": "Model event filters.",
					"items": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string",
								"title": "Id"
							},
							"name": {
								"type": "string",
								"title": "Property Name",
								"enum": ["name", "operate", "version", "create_at", "update_at"]
							}
						},
						"allOf": [
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "name"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["=="]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							},
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "operate"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["=="]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"enum": ["create", "delete"],
															"default": "create"
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							},
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "version"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["=="]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							},
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"enum": ["create_at", "update_at"]
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["before", "after"]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"format": "datetime",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							}
						],
						"required": ["name", "operate", "value"]
					},
					"uihints":{
						"items": {
							"id": { "ui:readonly": "true" }
						}
					}
				},
				{% endif %}
				{% if  component.name == "S3 Event" %}
				"bucket_name": {
                    "title": "Bucket Name",
                    "description": "S3 bucket name.",
                    "oneOf":[
                        {
                            "label": "Enter a value manually",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "string"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        },
                        {
                            "label": "Select one of the workflow input parameters",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [""],
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "enum"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        }
                    ]
                },
                "prefix": {
                    "title": "S3 Object Prefix",
                    "description": "S3 object prefix.",
                    "oneOf":[
						{
							"label": " ",
							"properties": {
								"value": {
									"type": "string",
									"default": ""
								},
								"widget": {
									"type": "string",
									"default": ""
								}
							},
							"uihints":{
								"widget": {"ui:field": "hidden"},
								"value": {"ui:field": "hidden"}
							}
						},
                        {
                            "label": "Enter a value manually",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "string"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        },
                        {
                            "label": "Select one of the workflow input parameters",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [""],
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "enum"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        }
                    ]
                },
                "suffix": {
                    "title": "S3 Object Suffix",
                    "description": "S3 object suffix.",
                    "oneOf":[
						{
							"label": " ",
							"properties": {
								"value": {
									"type": "string",
									"default": ""
								},
								"widget": {
									"type": "string",
									"default": ""
								}
							},
							"uihints":{
								"widget": {"ui:field": "hidden"},
								"value": {"ui:field": "hidden"}
							}
						},
                        {
                            "label": "Enter a value manually",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "string"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        },
                        {
                            "label": "Select one of the workflow input parameters",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [""],
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "enum"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        }
                    ]
                },
				"event_filter": {
					"type": "array",
					"title": "S3 Event Filters",
					"description": "S3 Event filters.",
					"items": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string",
								"title": "Id"
							},
							"name": {
								"type": "string",
								"title": "Property Name",
								"enum": ["operate"],
								"default": "operate"
							},
							"operate": {
								"type": "string",
								"title": "Operate",
								"enum": ["==", "!="]
							},
							"value": {
								"title": "Value",
								"oneOf":[
									{
										"label": " ",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": ""
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"},
											"value": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Enter a value manually",
										"properties": {
											"value": {
												"type": "string",
												"enum": [
													"ObjectAccessed:Get",
													"ObjectAccessed:GetLegalHold",
													"ObjectAccessed:GetRetention",
													"ObjectAccessed:Head",
													"ObjectCreated:CompleteMultipartUpload",
													"ObjectCreated:Copy",
													"ObjectCreated:DeleteTagging",
													"ObjectCreated:Post",
													"ObjectCreated:Put",
													"ObjectCreated:PutLegalHold",
													"ObjectCreated:PutRetention",
													"ObjectCreated:PutTagging",
													"ObjectRemoved:Delete",
													"ObjectRemoved:DeleteMarkerCreated",
													"ObjectAccessed:*",
													"ObjectCreated:*",
													"ObjectRemoved:*",
													"Replication:OperationCompletedReplication",
													"Replication:OperationFailedReplication",
													"Replication:OperationMissedThreshold",
													"Replication:OperationNotTracked",
													"Replication:OperationReplicatedAfterThreshold",
													"Replication:*",
													"ObjectRestore:Post",
													"ObjectRestore:Completed",
													"ObjectRestore:*",
													"ObjectTransition:Failed",
													"ObjectTransition:Complete",
													"ObjectTransition:*",
													"BucketCreated",
													"BucketRemoved"
												],
												"default": "ObjectAccessed:Get"
											},
											"widget": {
												"type": "string",
												"default": "string"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the workflow input parameters",
										"properties": {
											"value": {
												"type": "string",
												"enum": [""],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									}
								]
							}
						}
					},
					"uihints":{
						"items": {
							"id": { "ui:readonly": "true" }
						}
					}
				}
				{% endif %}
				{% if  component.name == "Pipeline Event" %}
				"event_filter": {
					"type": "array",
					"title": "Pipeline Event Filters",
					"description": "Pipeline event filters.",
					"items": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string",
								"title": "Id"
							},
							"name": {
								"type": "string",
								"title": "Property Name",
								"enum": ["name", "operate", "create_at"]
							}
						},
						"allOf": [
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "name"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["prefix"]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
															},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							},
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "operate"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["=="]
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"enum": ["ADD", "UPDATE", "DELETE"],
															"default": "ADD"
															},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							},
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "create_at"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["before"]
         								},
										"value": {
											"title": "Value",
											"format": "datetime",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"format": "datetime",
															"default": ""
															},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							}
						],
						"required": ["name", "operate", "value"]
					},
					"uihints":{
						"items": {
							"id": { "ui:readonly": "true" }
						}
					}
				},
				{% endif %}
				{% if  component.name == "Calendar Event" %}
				"calendar": {
					"title": "Calendar Event Filters",
					"description": "Calendar event filters.",
					"type": "object",
					"properties": {
						"name": {
							"type": "string",
							"enum": ["interval", "schedule"],
							"default": "interval"
						}
					},
					"allOf": [
						{
							"if": {
								"properties": {
									"name": {
										"const": "interval"
									}
								}
							},
							"then": {
								"properties": {
									"value": {
										"title": "Interval",
										"description": "Calendar interval, such as 30s, 60m, 24h, etc.",
										"oneOf":[
											{
												"label": " ",
												"properties": {
													"value": {
														"type": "string",
														"default": ""
													},
													"widget": {
														"type": "string",
														"default": ""
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"},
													"value": {"ui:field": "hidden"}
												}
											},
											{
												"label": "Enter a value manually",
												"properties": {
													"value": {
														"type": "string",
														"default": ""
														},
													"widget": {
														"type": "string",
														"default": "string"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											},
											{
												"label": "Select one of the workflow input parameters",
												"properties": {
													"value": {
														"type": "string",
														"enum": [""],
														"default": ""
													},
													"widget": {
														"type": "string",
														"default": "enum"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											}
										]
									}
								}
							}
						},
						{
							"if": {
								"properties": {
									"name": {
										"const": "schedule"
									}
								}
							},
							"then": {
								"properties": {
									"value": {
										"title": "Schedule",
										"description": "You can visit the website cronmaker.com to generate cron expressions online.",
										"oneOf":[
											{
												"label": " ",
												"properties": {
													"value": {
														"type": "string",
														"default": ""
													},
													"widget": {
														"type": "string",
														"default": ""
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"},
													"value": {"ui:field": "hidden"}
												}
											},
											{
												"label": "Enter a value manually",
												"properties": {
													"value": {
														"type": "string",
														"default": ""
														},
													"widget": {
														"type": "string",
														"default": "string"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											},
											{
												"label": "Select one of the workflow input parameters",
												"properties": {
													"value": {
														"type": "string",
														"enum": [""],
														"default": ""
													},
													"widget": {
														"type": "string",
														"default": "enum"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											}
										]
									}
								}
							}
						}
					]
				}
				{% endif %}
				{% if  component.name != "Calendar Event" and component.name != "S3 Event"%}
				"expression": {
					"type": "string",
					"title": "Expression",
					"description": "{{component.name}} expression."
				}
				{% endif %}
			},
			"required": ["expression", "bucket_name", "event_filter", "dataset_name", "calendar"]
		}
	},
	"required": ["label", "component_parameters"]
}