{
	"type": "object",
	"properties": {
		"label": {
			"title": "Name",
			"description": "A custom name for the node.",
			"type": "string",
			"pattern": "^[a-z][a-z0-9-]*[a-z0-9]$"
		},
		"component_parameters": {
			"type": "object",
			"properties": {
				{% if  component.name == "Dataset Event" %}
				"dataset_name": {
					"type": "array",
					"title": "Dataset Names",
					"description": "S3 path of dataset event.",
					"items": {
						"type": "object",
						"oneOf":[
							{
								"label": "Enter a value manually",
								"properties": {
									"value": {
										"type": "string",
										"default": ""
									},
									"widget": {
										"type": "string",
										"default": "string"
									}
								},
								"uihints":{
									"widget": {"ui:field": "hidden"}
								}
							},
							{
								"label": "Select one of the workflow input parameters",
								"properties": {
									"value": {
										"type": "string",
										"enum": [""],
										"default": ""
									},
									"widget": {
										"type": "string",
										"default": "enum"
									}
								},
								"uihints":{
									"widget": {"ui:field": "hidden"}
								}
							}
						]
					}
				},
				"event_filter": {
					"type": "array",
					"title": "Dataset Event Filters",
					"description": "Dataset event filters.",
					"items": {
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"title": "Property Name",
								"enum": ["operate", "samples"],
								"default": "operate"
							}
						},
						"allOf": [
							{
									"if": {
										"properties": {
											"name": {
												"const": "operate"
											}
										}
									},
									"then": {
										"properties": {
											"operate": {
												"type": "string",
												"title": "Operate",
												"enum": ["=="],
												"default": "=="
											},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"enum": ["create", "delete"],
															"default": "create"
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
									}
								}
							},
							{
								"if": {
									"properties": {
									"name": {
						 				"const": "samples"
							  			}
									}
								},
								"then": {
									"properties": {
										"operate": {
											"type": "string",
											"title": "Operate",
											"enum": [">", ">=", "==", "%", "delta"],
											"default": ">"
										},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "integer",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							}
						],
						"required": ["name", "operate", "value"]
					}
				},
				{% endif %}
			    {% if  component.name == "Model Event" %}
				"model_name": {
					"type": "array",
					"title": "Model Names",
					"description": "S3 path of model event.",
					"items": {
						"type": "object",
						"oneOf":[
							{
								"label": "Enter a value manually",
								"properties": {
									"value": {
										"type": "string",
										"default": ""
									},
									"widget": {
										"type": "string",
										"default": "string"
									}
								},
								"uihints":{
									"widget": {"ui:field": "hidden"}
								}
							},
							{
								"label": "Select one of the workflow input parameters",
								"properties": {
									"value": {
										"type": "string",
										"enum": [""],
										"default": ""
									},
									"widget": {
										"type": "string",
										"default": "enum"
									}
								},
								"uihints":{
									"widget": {"ui:field": "hidden"}
								}
							}
						]
					}
				},
				"event_filter": {
					"type": "array",
					"title": "Model Event Filters",
					"description": "Model event filters.",
					"items": {
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"title": "Property Name",
								"enum": ["operate"],
								"default": "operate"
							}
						},
						"allOf": [
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "operate"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["=="],
											"default": "=="
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"enum": ["create", "delete"],
															"default": "create"
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							}
						],
						"required": ["name", "operate", "value"]
					}
				},
				{% endif %}
				{% if  component.name == "S3 Event" %}
				"bucket_name": {
                    "title": "Bucket Name",
                    "description": "S3 bucket name.",
                    "oneOf":[
                        {
                            "label": "Enter a value manually",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "string"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        },
                        {
                            "label": "Select one of the workflow input parameters",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [""],
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "enum"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        }
                    ]
                },
                "prefix": {
                    "title": "S3 Object Prefix",
                    "description": "S3 object prefix.",
                    "oneOf":[
                        {
                            "label": "Enter a value manually",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "string"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        },
                        {
                            "label": "Select one of the workflow input parameters",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [""],
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "enum"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        }
                    ]
                },
                "suffix": {
                    "title": "S3 Object Suffix",
                    "description": "S3 object suffix.",
                    "oneOf":[
                        {
                            "label": "Enter a value manually",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "string"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        },
                        {
                            "label": "Select one of the workflow input parameters",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [""],
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "enum"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        }
                    ]
                },
				"event_filter": {
					"type": "array",
					"title": "S3 Event Filters",
					"description": "S3 Event filters.",
					"items": {
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"title": "Property Name",
								"enum": ["operate"],
								"default": "operate"
							}
						},
						"allOf": [
							{
								"if": {
        							"properties": {
          								"name": {
           					 				"const": "operate"
     						  			}
       								}
      							},
								"then": {
        							"properties": {
          								"operate": {
            								"type": "string",
											"title": "Operate",
											"enum": ["==", "!="],
											"default": "=="
         								},
										"value": {
											"title": "Value",
											"oneOf":[
												{
													"label": " ",
													"properties": {
														"value": {
															"type": "string",
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": ""
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"},
														"value": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Enter a value manually",
													"properties": {
														"value": {
															"type": "string",
															"enum": [
																"ObjectAccessed:Get",
																"ObjectAccessed:GetLegalHold",
																"ObjectAccessed:GetRetention",
																"ObjectAccessed:Head",
																"ObjectCreated:CompleteMultipartUpload",
																"ObjectCreated:Copy",
																"ObjectCreated:DeleteTagging",
																"ObjectCreated:Post",
																"ObjectCreated:Put",
																"ObjectCreated:PutLegalHold",
																"ObjectCreated:PutRetention",
																"ObjectCreated:PutTagging",
																"ObjectRemoved:Delete",
																"ObjectRemoved:DeleteMarkerCreated",
																"ObjectAccessed:*",
																"ObjectCreated:*",
																"ObjectRemoved:*",
																"Replication:OperationCompletedReplication",
																"Replication:OperationFailedReplication",
																"Replication:OperationMissedThreshold",
																"Replication:OperationNotTracked",
																"Replication:OperationReplicatedAfterThreshold",
																"Replication:*",
																"ObjectRestore:Post",
																"ObjectRestore:Completed",
																"ObjectRestore:*",
																"ObjectTransition:Failed",
																"ObjectTransition:Complete",
																"ObjectTransition:*",
																"BucketCreated",
																"BucketRemoved"
															],
															"default": "ObjectAccessed:Get"
														},
														"widget": {
															"type": "string",
															"default": "string"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												},
												{
													"label": "Select one of the workflow input parameters",
													"properties": {
														"value": {
															"type": "string",
															"enum": [""],
															"default": ""
														},
														"widget": {
															"type": "string",
															"default": "enum"
														}
													},
													"uihints":{
														"widget": {"ui:field": "hidden"}
													}
												}
											]
										}
       								}
								}
							}
						],
						"required": ["name", "operate", "value"]
					},
					"uihints":{
						"items": {
							"id": { "ui:readonly": "true" }
						}
					}
				}
				{% endif %}
				{% if  component.name == "Calendar Event" %}
				"calendar": {
					"title": "Calendar Event Filters",
					"description": "Calendar event filters.",
					"type": "object",
					"properties": {
						"name": {
							"type": "string",
							"enum": ["interval", "schedule", "once"],
							"default": "interval"
						}
					},
					"allOf": [
						{
							"if": {
								"properties": {
									"name": {
										"const": "interval"
									}
								}
							},
							"then": {
								"properties": {
									"value": {
										"title": "Interval",
										"description": "Calendar interval, such as 30s, 60m, 24h, etc.",
										"oneOf":[
											{
												"label": "Enter a value manually",
												"properties": {
													"value": {
														"type": "string",
														"default": "",
														"pattern": "^[1-9]\\d*[hms]$"
													},
													"widget": {
														"type": "string",
														"default": "string"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											},
											{
												"label": "Select one of the workflow input parameters",
												"properties": {
													"value": {
														"type": "string",
														"enum": [""],
														"default": ""
													},
													"widget": {
														"type": "string",
														"default": "enum"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											}
										]
									}
								}
							}
						},
						{
							"if": {
								"properties": {
									"name": {
										"const": "schedule"
									}
								}
							},
							"then": {
								"properties": {
									"value": {
										"title": "Schedule",
										"description": "You can visit the website crontab.guru to generate cron expressions online.",
										"oneOf":[
											{
												"label": "Enter a value manually",
												"properties": {
													"value": {
														"type": "string",
														"default": "",
														"pattern": "^[0-9/*,-]+\\s+[0-9/*,-]+\\s+[0-9/*,-]+\\s+[0-9/*,-]+\\s+[0-9/*,-]+$"
													},
													"widget": {
														"type": "string",
														"default": "string"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											},
											{
												"label": "Select one of the workflow input parameters",
												"properties": {
													"value": {
														"type": "string",
														"enum": [""],
														"default": ""
													},
													"widget": {
														"type": "string",
														"default": "enum"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											}
										]
									}
								}
							}
						},
						{
							"if": {
								"properties": {
									"name": {
										"const": "once"
									}
								}
							},
							"then": {
								"properties": {
									"value": {
										"title": "Once",
										"description": "Calendar once, such as 30s, 60m, 24h, etc.",
										"oneOf":[
											{
												"label": "Enter a value manually",
												"properties": {
													"value": {
														"type": "string",
														"default": "",
														"pattern": "^[1-9]\\d*[hms]$"
													},
													"widget": {
														"type": "string",
														"default": "string"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											},
											{
												"label": "Select one of the workflow input parameters",
												"properties": {
													"value": {
														"type": "string",
														"enum": [""],
														"default": ""
													},
													"widget": {
														"type": "string",
														"default": "enum"
													}
												},
												"uihints":{
													"widget": {"ui:field": "hidden"}
												}
											}
										]
									}
								}
							}
						}
					],
					"uihints": {
						"interval": {
							"pattern": "^[1-9]\\d*[hms]$"
						},
						"once": {
							"pattern": "^[1-9]\\d*[hms]$"
						},
						"schedule": {
							"pattern": "^[0-9/*,-]+\\s+[0-9/*,-]+\\s+[0-9/*,-]+\\s+[0-9/*,-]+\\s+[0-9/*,-]+$"
						}
					},
					"required": ["value"]
				}
				{% endif %}
				{% if  component.name != "Calendar Event" and component.name != "S3 Event" and component.name != "Model Monitor Event" %}
				"expression": {
					"type": "string",
					"title": "Expression",
					"pattern": "^([1-9]+|\\([1-9]+((&&|\\|\\|)[1-9]+)+\\))((&&|\\|\\|)([1-9]+|\\([1-9]+((&&|\\|\\|)[1-9]+)+\\)))*$",
					"description": "{{component.name}} expression."
				}
				{% endif %}
				{% if  component.name == "Model Monitor Event" %}
				"alert_name": {
					"title": "Alert Name",
					"description": "Alert Name.",
					"oneOf":[
                        {
                            "label": "Enter a value manually",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [
										"model_mon_ap50",
										"model_mon_ap",
										"model_mon_ap_small",
										"model_mon_ar_small",
										"model_mon_confidence_mean",
										"model_mon_ap75",
										"model_mon_ap_medium",
										"model_mon_ap_large",
										"model_mon_ar1",
										"model_mon_ar10",
										"model_mon_ar100",
										"model_mon_ar_medium",
										"model_mon_ar_large"
									],
									"default": "model_mon_ap50"
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "string"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        },
                        {
                            "label": "Select one of the workflow input parameters",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "enum": [""],
                                    "default": ""
                                },
                                "widget": {
                                    "type": "string",
                                    "default": "enum"
                                }
                            },
                            "uihints":{
                                "widget": {"ui:field": "hidden"}
                            }
                        }
                    ]
				},
				"event_filter": {
					"type": "array",
					"title": "Model Configuration",
					"description": "Model configuration.",
					"items": {
						"type": "object",
						"properties": {
							"app_name": {
								"title": "App Name",
								"oneOf":[
									{
										"label": " ",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": ""
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"},
											"value": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Enter a value manually",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
												},
											"widget": {
												"type": "string",
												"default": "string"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the workflow input parameters",
										"properties": {
											"value": {
												"type": "string",
												"enum": [""],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									}
								]
							},
							"model_name": {
								"title": "Model Name",
								"oneOf":[
									{
										"label": " ",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": ""
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"},
											"value": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Enter a value manually",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
												},
											"widget": {
												"type": "string",
												"default": "string"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the workflow input parameters",
										"properties": {
											"value": {
												"type": "string",
												"enum": [""],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									}
								]
							}
						},
						"required": ["app_name", "model_name"]
					}
				}
				{% endif %}
			},
			"required": [ "bucket_name", "event_filter", "dataset_name", "model_name", "calendar", "alert_name"]
		}
	},
	"required": ["label", "component_parameters"]
}