{
  "type": "object",
  "properties": {
    "label": {
      "title": "Label",
      "description": "A custom label for the node.",
      "type": "string"
    },
    "component_parameters": {
      "type": "object",
      "properties": {
        {% if  component.name == "ParallelFor Start" %}
        "loop_args": {
          "title": "Loop Args",
          "description": "Loop args.",
          "oneOf": [
            {
              "label": "Please select a value from the pipeline input parameters",
              "properties": {
                "value": {
                  "type": "string",
                  "enum": [""],
                  "default": ""
                },
                "widget": {
                  "type": "string",
                  "default": "enum"
                }
              },
              "uihints":{
                "widget": {"ui:field": "hidden"}
              }
            },
            {
              "label": "Select an output from a parent",
              "properties": {
                "value": {
                  "type": "string",
                  "enum": [""],
                  "default": ""
                },
                "widget": {
                  "type": "string",
                  "default": "inputpath"
                }
              },
              "uihints":{
                "widget": {"ui:field": "hidden"},
                "value": {
                  "inputpath": true,
                  "ui:hideError": true
                }
              }
            },
            {
              "label": "Number",
              "properties": {
                "value": {
                  "type": "number",
                  "default": ""
                },
                "widget": {
                  "type": "string",
                  "default": "Number"
                }
              },
              "uihints":{
                "widget": {"ui:field": "hidden"},
                "value": {"ui:hideError": true}
              }
            },
            {
              "label": "List[str|int|float]",
              "properties": {
                "value": {
                  "type": "string",
                  "default": "[]"
                },
                "widget": {
                    "type": "string",
                    "default": "List[str|int|float]"
                }
              },
              "uihints":{
                "widget": {"ui:field": "hidden"},
                "value": {"ui:hideError": true}
              }
            },
            {
              "label": "List[Dict[str, any]]",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "title": "Key",
                          "default": ""
                        },
                        "value": {
                          "type": "string",
                          "title": "Value",
                          "default": ""
                        }
                      }
                    },
                    "default": [{"key": "", "value": ""}]
                  },
                  "default": []
                },
                "widget": {
                  "type": "string",
                  "default": "List[Dict[str, any]]"
                }
              },
              "uihints":{
                "widget": {"ui:field": "hidden"},
                "value": {
                  "items": {
                    "items": {
                      "key": {"ui:placeholder": "key"},
                      "value": {"ui:placeholder": "value"}
                    }
                  }
                }
              }
            }
          ]
        },
        "parallelism": {
          "type": "number",
          "title": "ParallelFor Parallelism",
          "description": "ParallelFor Parallelism."
        }
        {% endif %}
      },
      "required": ["loop_args"]
    }
  },
  "required": ["component_parameters"]
}
