{
	"type": "object",
	"properties": {
		"label": {
			"title": "Name",
			"description": "A custom name for the node.",
			"type": "string"
		},
		"component_parameters": {
			"type": "object",
			"properties": {
				{% if  component.name == "Pipeline Trigger" %}
                "template_name": {
                    "title": "Template Name",
                    "description": "Pipeline template name.",
                    "type": "string",
                    "uihints": {
                        "ui:placeholder": "*.pipeline/*.yaml",
                        "ui:widget": "file",
						"extensions": [".yaml", ".pipeline"]
                    }
                },
				"trigger_parameters": {
					"type": "array",
					"title": "Pipeline Trigger Parameters",
					"description": "Pipeline trigger parameters.",
					"items": {
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"title": "Name",
								"enum": []
							},
							"from": {
								"title": "From",
								"oneOf":[
									{
										"label": "Enter a value manually",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "string"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the workflow input parameters",
										"properties": {
											"value": {
												"type": "string",
												"enum": [],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "workflow_enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the parameters of the connected events",
										"properties": {
											"value": {
												"type": "string",
												"enum": [],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "event_enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									}
								]
							}
						}
					}
				}
				{% endif %}
			    {% if  component.name == "K8s Object Trigger" %}
                "source": {
                    "title": "Source",
                    "description": "K8s object trigger resource file.",
					"oneOf":[
						{
							"label": "s3",
							"properties": {
								"bucket_name": {
									"title": "Bucket Name",
									"type": "string"
								},
								"object": {
									"title": "Object",
									"type": "string"
								},
								"value": {
									"type": "string",
									"default": " "
								},
								"widget": {
									"type": "string",
									"default": "s3"
								}
							},
							"required": ["bucket_name", "object"],
							"uihints":{
								"widget": {"ui:field": "hidden"},
								"value": {"ui:field": "hidden"}
							}
						},
						{
							"label": "http",
							"properties": {
								"url": {
									"title": "Url",
									"type": "string"
								},
								"value": {
									"type": "string",
									"default": " "
								},
								"widget": {
									"type": "string",
									"default": "http"
								}
							},
							"required": ["url"],
							"uihints":{
								"widget": {"ui:field": "hidden"},
								"value": {"ui:field": "hidden"}
							}
						}
					],
					"required": ["bucket_name", "object", "url"]
                },
                "operation": {
                    "title": "Operation",
                    "description": "K8s object trigger operation.",
                    "type": "string",
                    "default": "create",
					"enum": [ "create", "update", "delete" ]
                },
				"trigger_parameters": {
					"type": "array",
					"title": "K8s Object Trigger Parameters",
					"description": "K8s object trigger parameters.",
					"items": {
						"type": "object",
						"properties": {
							"from": {
								"title": "From",
								"oneOf":[
									{
										"label": "Enter a value manually",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "string"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the workflow input parameters",
										"properties": {
											"value": {
												"type": "string",
												"enum": [],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "workflow_enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the parameters of the connected events",
										"properties": {
											"value": {
												"type": "string",
												"enum": [],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "event_enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									}
								]
							},
							"dest": {
								"type": "string",
								"title": "Destination"
							}
						}
					}
				}
				{% endif %}
				{% if  component.name == "HTTP Trigger" %}
				"url": {
					"type": "string",
					"title": "Http URL",
					"description": "Http url.",
					"format": "uri",
					"uihints": {
						"ui:placeholder": "http://http-server.argo-events.svc:8090/hello"
					}
				},
				"method": {
					"type": "string",
					"title": "Method",
					"description": "Http method.",
                    "default": "GET",
					"enum": [ "GET", "DELETE", "PATCH", "POST", "PUT" ]
				},
				"timeout": {
					"type": "integer",
					"title": "Timeout",
					"description": "Http timeout. The time unit is seconds.",
                    "minimum": 0
				},
				"trigger_parameters": {
					"type": "array",
					"title": "Http Trigger Parameters",
					"description": "Http trigger parameters.",
					"items": {
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"title": "Name"
							},
							"from": {
								"title": "From",
								"oneOf":[
									{
										"label": "Enter a value manually",
										"properties": {
											"value": {
												"type": "string",
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "string"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the workflow input parameters",
										"properties": {
											"value": {
												"type": "string",
												"enum": [],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "workflow_enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									},
									{
										"label": "Select one of the parameters of the connected events",
										"properties": {
											"value": {
												"type": "string",
												"enum": [],
												"default": ""
											},
											"widget": {
												"type": "string",
												"default": "event_enum"
											}
										},
										"uihints":{
											"widget": {"ui:field": "hidden"}
										}
									}
								]
							}
						}
					}
				}
				{% endif %}
			},
			"required": ["template_name", "url", "method", "timeout", "operation", "source"]
		}
	},
	"required": ["label", "component_parameters"]
}